:root{
    --gap: 40px;
}

.nav{
    flex-direction: column;
    height: auto;
}

.nav__logo img{
    height: 30px;
    margin-bottom: 10px;
}

.main{
    margin: 0 auto;
    width: 90%;
}

.main__title{
    font-size: 24px;
    max-width: 100%;
    margin-bottom: 10px;
}

.cards{
    /* align-items: center;
    flex-direction: column;*/
    grid-template-columns: .8fr;
    gap: var(--gap);
    margin-top: 0px; 
}

.products{
    background-image: none;
    height: auto;
    padding: 10% 0;
}

.qualities__wrapper,
.mentions__cards--wrapper{
    grid-template-columns: .8fr;
}

.qualities__wrapper{
    gap: 30px;
    margin-top: var(--gap);
    width: 90%;
}

.qualitie{
    margin-bottom: 20px;
}



/* -------------- products ---------------- */

.products__title{
    padding-left: 20px;
}

.row{
    display: inherit;
}

.row figure, 
.products__text{
    margin: 0 auto;
}

.products--wrap img{
    width: 100px;
    height: 100px;
}

.products--wrap .p3{
    width: 80px;
    height: 80px;
}


/* -------------- Venta ---------------- */
.sale__cards{
    grid-template-columns: .9fr;
    gap: var(--gap);
    justify-content: center;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

@media screen and (max-width: 500px){
    .payment__container img{
        width: 120px;
        height: 120px;
    }   
    
    .payment__container{
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    .products--wrap{
        gap: 60px;
    }

    .product1:nth-last-child(1){
        margin-bottom: 50px;
    }
}


@media screen and (min-width: 600px){
    .cards{
        grid-template-columns: .6fr;
    }

    .mentions__cards--wrapper, 
    .qualities__wrapper{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .products--wrap img{
        width: 200px;
        height: 200px;
    }

    .products--wrap .p3{
        width: 150px;
        height: 150px;
    }
}

