:root{
    --primary-color: #7ACC2D;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}

.nav {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav__logo img{
    vertical-align: middle;
}

.nav ol{
    display: flex;
    list-style: none;
}

.nav ol li a{
    color: rgb(32, 32, 32);
    font-size: 18px;
    padding-left: 20px;
    text-decoration: none;
}

.nav ol li a:hover{
    color: white;
    text-decoration: underline;
}

.main__title{
    font-size: 25px;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 100px;
    text-align: center;
}

.products{
    background-image: url('../assets/curve.png');
    background-size: cover;
    background-position: center top;
    height: 400px;
    /* height: 200px;
    padding: 20px;
    display: flex; */
}

.cards{
    display: flex;
    justify-content: center;
}

.card{
    background-color: white;
    box-shadow: 4px 1px 20px rgb(151, 151, 151);
    margin: 15px;
    padding: 10px;
    width: 250px;
}

.card__image{
    margin-bottom: 15px;
    text-align: center;
}

.card__title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.card__button{
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}