:root{
    --primary-color: hsl(91, 64%, 49%);
    --white: #ffffff;
    --padding: 20px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}

.nav {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
}

.nav__logo img{
    vertical-align: middle;
}

.nav ol{
    display: flex;
    list-style: none;
}

.nav ol li a{
    color: rgb(32, 32, 32);
    font-size: 18px;
    padding-left: var(--padding);
    text-decoration: none;
}

.nav ol li a:hover{
    color: var(--white);
    text-decoration: underline;
}

.main__title{
    font-size: 25px;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 200px;
    text-align: center;
}

.products{
    background-image: url('../assets/curve.png');
    background-size: cover;
    background-position: center top;
    height: 100px;
    padding: 12%;
    /* height: 200px;
    padding: var(--padding);
    display: flex; */
}

.cards{
    display: flex;
    justify-content: center;
    margin-top: -250px; 
}

.card{
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 4px 1px var(--padding) rgb(151, 151, 151);
    margin: 15px;
    padding: 10px;
    width: 250px;
}

.card__image{
    margin-bottom: 15px;
    text-align: center;
}

.card__title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.card__button{
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: var(--padding);
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.card__button:hover{
    background-color: #659c31;
}